<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="GitExeFolder" value="C:\Program Files\Git\bin\git.exe" />
    <add key="ProjectFolder" value="" />
    <add key="DestinationFolder" value="C:\dest" />
    <add key="IncludeFileTypes" value=".css;.js;.html;.json;.Master;.cshtml;.aspx;.asax;.ascx;.master" />
    <add key="RootLog" value="C:\Logs\CreateFolder" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>